* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
}

.logo, .hero-text {
    font-size: 24px;
    color: #f9faf8;
}

.header-container, .footer {
    background-color: #1f2937;
    display: flex;
    flex: 1;
}

.header-container {
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;
}

ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #f9faf8;
    gap: 16px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    flex: 1;
    gap: 24px;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#header-button {
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    color: #e5e7eb;
    border-color: #3882f6;
}
/* add header img css here */
.header-img {
    display: flex;
    width: 400px;
    height: 250px;

}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crops the image to cover the container while preserving aspect ratio */
    object-position: center center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1;
}

#info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.pic img {
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.info-quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 16px;
    flex: 1;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    width: auto;
    height: 300px;
    padding: 16px;
    flex: 1;
}

.who-said {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-right: 48px;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.cta {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 50px;
    margin: 25px;
    border-radius: 5px;

    flex: 0 1 auto;
}

.cta-title {
    font-size: 24px;
    color: #f9faf8;
}

.cta-subtext {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #f9faf8;
}

#cta-button {
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
    border-color: #e5e7eb;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer {
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    flex: none;
}
