* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto serif;
}

body, .header-container {
    display: flex;
    flex-direction: column;
}

.logo, .hero-text {
    font-size: 24px;
    color: #f9faf8;
}

.header-container, .footer {
    background-color: #1f2937;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;
    font-family: Roboto;
}

ul, a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: #f9faf8;
    gap: 16px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

#header-button {
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #3882f6;
    border-radius: 25px;
    color: #e5e7eb;
    border-color: #3882f6;
}

